


      {%- if section.settings.page.title != blank -%}
        {{ section.settings.page.title | escape }}
      {%- else -%}
        <h1>{{ 'sections.page.title' | t }}</h1>
      {%- endif -%}
    

      {%- if section.settings.page.content != blank -%}
        {{ section.settings.page.content }}
      {%- else -%}

          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      
      {%- endif -%}
   



{% schema %}
{
  "name": "Unique Faqs",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Select page of faqs for the crossponding products "
    }
  ],
  "presets": [
    {
      "name": "Unique Faqs"
    }
  ]
}
{% endschema %}